.update-button {
  background-color: rgba(34, 168, 0, 0.645);
  width: 450px;
  height: 35px;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 3px;
}
.update-button:hover {
  cursor: pointer;
  background-color: rgb(34, 168, 0);
}
.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
